/obj
/bin
*.vscode
*.user
*.suo
*.log
*.tlog
*.lastbuildstate
*.ncb
*.aps
*.pch
*.pdb
*.idb
*.class
*.ilk
*.meta
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.dbmdl
*.opendb
*.VC.db
*.VC.VC.opendb
*.pyo
*.pyc
*.class
*.jar
*.war
.vs/