@model CreateBookViewModel

@{
    ViewData["Title"] = "Add Book";
}

<h5>
    <i class="bi bi-plus-circle-dotted"></i>
    Add a new Book
</h5>

<form asp-controller="Book" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">

            <!-- Book Title -->
            <div class="form-group">
                <label asp-for="Title" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Enter book title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <!-- Author -->
            <div class="form-group">
                <label asp-for="Author" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Author" placeholder="Enter author name" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>

            <!-- Category -->
            <div class="form-group">
                <label asp-for="CategoryId" class="form-label mt-4"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories"
                        data-placeholder="Select a category">
                    <option value="">Select category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Enter book description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- Cover -->
            @* <div class="form-group">
                <label asp-for="CoverImageUrl" class="form-label mt-4"></label>
                <input type="file" class="form-control" asp-for="CoverImageUrl"
                       data-rule-extension=".jpg,.jpeg,.png"
                       data-msg-extension="Only JPG or PNG files allowed"
                       data-rule-filesize="2097152"
                       data-msg-filesize="Max file size is 2 MB">
                <small class="form-text text-muted">Allowed: .jpg, .jpeg, .png (Max 2 MB)</small>
                <span asp-validation-for="CoverImageUrl" class="text-danger d-block"></span>
            </div> *@

            <!-- Submit -->
            <button type="submit" class="btn btn-primary mt-4">Save</button>
        </div>

        <!-- Preview -->
        <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
            <img class="cover-preview d-none" alt="Cover Preview" style="max-height: 400px; border-radius: 8px;" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/book-form.js" asp-append-version="true"></script>
}
